<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <h1><%= post.slug %></h1>

  <%- include('../partials/comment/form'); %>

  <h3>Comments</h3>
  <ul>
    <% comments.forEach((comment) => { %>
      <%- include('../partials/comment/item', {comment}); %>
    <% }); %>
  </ul>

  <button>load more</button>
</main>

</body>
</html>